body {
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: #F3EFEB;
    padding-bottom: 30px;

}

h1, h2 {
    color: #C88795;
}

.splide__slide img {
    width: 100%;
    height:100%;
    object-fit: cover;
  }

  .splide__pagination__page.is-active {
    background:#C88795;
  }

  .splide__track {
    padding-top: 20px;
  }
 
  .splide__arrow {
    background-color: transparent;
  }

  .splide__arrow svg {
    fill: #C88795;
    height: 50px;
    width: 50px;
  }

  .splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 3px solid #C88795;
  }

  #reviews {
    background-color: #EDE1E0;
    padding: 100px 0px;
    margin: 40px 0px;
  }

  #reviews .splide__track {
    font-family: sans-serif;
  }

  #reviews span {
    display: block;
  }

  button {
    font-family: sans-serif;
    font-size: 18px;
    border:none;
    background-color: #C88795;
    padding: 10px 20px;
    color: #fff;
  }

  button a {
    text-decoration: none;
    color: #fff;
  }

  #modal {
    display: none;
  }

  input, textarea {
    width: 100%;
    margin-bottom: 10px;
  }